*.o
*.la
*.lo
libtool
ChangeLog
autoregen.sh
aclocal.m4
cfg/Makefile.in
autom4te.cache/
config.guess
config.status
config.sub
src/OBJS/gtkworkbook
.libs
.deps
.DS_Store
*~
bin/
massif*
*.log
\#*\#
.\#*

