lib
build-aux/config.h
build-aux/config.h.in
build-aux/stamp-h1
.dirstamp
gmon.out
CHANGES
configure
Makefile
Makefile.in
depcomp
install-sh
ltmain.sh
missing
compile
*.o
*.la
*.lo
*.loT
libtool
ChangeLog
autoregen.sh
aclocal.m4
autom4te.cache/
config.guess
config.status
config.sub
configure
.libs
.deps
.DS_Store
*~
bin/
massif*
*.log
\#*\#
.\#*
test/libgtkworkbook_sheet
test/libgtkworkbook_workbook
