gmon.out
CHANGES
configure
Makefile
Makefile.in
depcomp
install-sh
ltmain.sh
missing
compile
*.o
*.la
*.lo
libtool
ChangeLog
autoregen.sh
aclocal.m4
cfg/Makefile.in
autom4te.cache/
config.guess
config.status
config.sub
configure
src/OBJS/gtkworkbook
.libs
.deps
.DS_Store
*~
bin/
massif*
*.log
\#*\#
.\#*

